.service-get-output-configuration
	.form-group
		label Output Name
		input.form-control.input-sm(
			type="text"
			ng-model="service.configuration.output_name"
		)
	.form-group
		label Reference Name
		input.form-control.input-sm(
			type="text"
			ng-model="service.configuration.name"
		)
