.service-math-configuration
	.form-group
		label Expression
		input.form-control.input-sm(
			type="text"
			ng-model="service.configuration.expression"
		)
	.form-group
		label Output Name
		input.form-control.input-sm(
			type="text"
			ng-model="service.configuration.name"
		)