.account-billing-view
	.ibox
		.ibox-title 
			h5 Billing
			.btn-group.pull-right.nav-menu(dropdown="")
				button.btn.btn-xs.btn-default(dropdown-toggle="")
					i.fa.fa-bars
				ul.dropdown-menu
					li(ui-sref-active="active")
						a(ui-sref="account.applications")
							i.fa.fa-angle-right
							span Applications
					li(ui-sref-active="active")
						a(ui-sref="account.billing")
							i.fa.fa-angle-right
							span Billing
					li.divider
					li
						a(ng-click="logout()")
							i.fa.fa-sign-out
							span Log out
				
		.ibox-content
			.loader(ng-show="loading")
				i.fa.fa-spin.fa-refresh
				span Loading...
				
			.credit-card
				h6 Credit Card
				
				.controls
					button.btn.btn-xs.btn-default.edit-btn(ng-click="editCreditCard()")
						i.fa.fa-pencil
						span Edit
				
				.well.well-sm
					span.text-muted(ng-hide="billingInfo.credit_card") No credit card on file.
					.row(ng-show="billingInfo.credit_card")
						.col-sm-5
							label Number
							div
								span xxxx xxxx xxxx&nbsp;
								span(ng-bind="billingInfo.credit_card.last4")
						.col-sm-3
							label Expiration
							div
								span(ng-bind="billingInfo.credit_card.exp_month")
								span /
								span(ng-bind="billingInfo.credit_card.exp_year")
						.col-sm-4
							label Type
							div(ng-bind="billingInfo.credit_card.brand")
							
				a.btn.btn-xs.btn-link(href="https://stripe.com/help/security" target="_blank")
					i.fa.fa-lock
					span Stored with Stripe. PCI Compliant
					
			.subscriptions
				h6 Subscriptions
				
				table.table.table-striped.table-condensed
					thead(ng-show="billingInfo.applications")
						tr
							th Application
							th Plan
							th Cost
					tbody(ng-show="billingInfo.applications")
						tr(ng-repeat="application in billingInfo.applications")
							td(ng-bind="application.name")
							td(ng-bind="application.plan.name")
							td(ng-bind="application.plan.amount")
						tr
							td(rowspan="2") Total
							td(ng-bind="billinInfo.total_amount")
					tbody(ng-hide="billingInfo.applications")
						tr
							td.text-muted No subscriptions.
						
					
