.attribute-input.input-group.input-group-sm
	.form-control-static
		span(ng-bind="getLength()")
		span(ng-show="collection") &nbsp;items
	.input-group-btn
		button.btn.btn-default(ng-click="editCollection()" type="button")
			i.fa.fa-pencil
