.attribute-filter.attribute-collection-filter(ng-class="{'has-value': hasValue()}")
	label.control-label(ng-bind="::attribute.name")
	.controls
		select.form-control.input-sm.operator(
			ng-options="operatorOption for operatorOption in operatorOptions"
			ng-model="operator"
			ng-change="updateFilterValue()"
		)
		.value
			.input-group.input-group-sm
				.form-control-static(ng-bind="documentDisplayName")
				.input-group-btn
					button.btn.btn-default(ng-click="lookupDocument()" type="button")
						i.fa.fa-search
	button.btn.btn-xs.btn-link.close(type="button" ng-click="clear()" ng-show="hasValue()")
		i.fa.fa-close