.application
	#wrapper
		#page-wrapper.gray-bg
			#top-nav.row.border-bottom.white-bg
				.navbar.navbar-static-top
					ul.nav.navbar-nav
						li.navbar-header
							a
								span(ng-bind="application.name")
						li(ui-sref-active="active" dropdown="")
							a(ui-sref="application.documents")
								i.fa.fa-files-o
								span Documents
						li(ui-sref-active="active")
							a(ui-sref="application.reports")
								i.fa.fa-bar-chart
								span Reports
						li(ui-sref-active="active")
							a(ui-sref="application.routines")
								i.fa.fa-cogs
								span Actions
						li(ui-sref-active="active")
							a(ui-sref="application.messages")
								i.fa.fa-envelope-o
								span Messages
								.badge.badge-primary 3
										
					ul.nav.navbar-top-links.navbar-right
						li
							input.form-control.search(type="text" placeholder="Search")
							i.fa.fa-plus-circle.add-document
							.user-avatar(dropdown="")
								img(gravatar-src-once="currentUser.emails[0].address" dropdown-toggle="")
								ul.dropdown-menu
									li
										a(ui-sref="account.applications")
											i.fa.fa-user
											span Account
									li.divider
									li
										a(ng-click="logout()")
											i.fa.fa-sign-out
											span Log Out

			#main-content.container
				div(ui-view="")

			#footer.footer
				i.fa.fa-gear
				span Powered by&nbsp;
				a(href="http://app-factory.io" target="_blank") App Factory&nbsp;
				span(ng-bind="version")
