.application-documents
	.document-schemas
		.document-schema(ng-repeat="documentSchema in documentSchemas | orderBy:'name'" ng-click="goToDocument(documentSchema)")
			.document-schema-name(ng-bind="documentSchema.name")
			.document-schema-abbreviation(ng-bind="documentSchema.abbreviation")
