.edit-view-modal
	form(novalidate name="form" ng-submit="submit()")
		.modal-header
			.modal-title Configure View

		.modal-body
			.row
				.form-group.col-sm-12
					label Name
					input.form-control(
						type="text"
						name="name"
						required
						ng-model="view.widget.name"
						autofocus="true"
					)
				.form-group.col-sm-12.col-md-6
					label Columns
					.attribute-items#sort-bounds-columns(as-sortable="sortableOptionsAttributes" ng-model="attributes")
						.attribute-item(ng-repeat="attribute in attributes" as-sortable-item)
							.summary
								i.fa.data-type(ng-class="attribute.data_type | dictionary:attributeDataTypes:'icon'")
								span(ng-bind="attribute.name")
							.controls
								button.btn.btn-xs.btn-default.sorting-handle(as-sortable-item-handle type="button")
									i.fa.fa-arrows
								button.btn.btn-xs.btn-primary.column-toggle(ng-show="attribute.$selected" ng-click="deselectAttribute(attribute)" type="button")
									i.fa.fa-check
								button.btn.btn-xs.btn-default.column-toggle(ng-hide="attribute.$selected" ng-click="selectAttribute(attribute)" type="button")
									i.fa.fa-square-o
				.form-group.col-sm-12.col-md-6
					label Filters
					af-attribute-filters(filter="filter" attributes="attributes")
							
			.alert.alert-warning(ng-show="showValidationErrors && form.$invalid")
				div(ng-show="form.name.$error.required") Name is required.
		.modal-footer
			button.btn.btn-default(type="button" ng-click="$dismiss()") Cancel
			button.btn.btn-primary(type="submit") 
				span Save
				i.fa.fa-chevron-right
