.view-document-modal
	.modal-header
		h3.modal-title
			span(ng-bind="' ' + documentSchema.name")

	.modal-body
		af-view-document-attributes(
			document="document"
			document-schema="documentSchema"
		)

	.modal-footer
		button.btn.btn-default.pull-left(ng-click="deleteDocument()" ng-hide="options.deleteDisabled") 
			span Delete
			i.fa.fa-trash
		button.btn.btn-default(ng-click="$dismiss()") Close
		button.btn.btn-primary(ng-click="editDocument()" ng-hide="options.editDisabled") 
			span Edit
			i.fa.fa-pencil
