.view-collection-modal
	.modal-body
		button.btn.btn-xs.btn-primary.add-item(ng-click="addItem()" ng-show="editMode")
			i.fa.fa-plus
			span Add&nbsp;
			span(ng-bind="documentSchema.name")
		af-app-widget-table(
			widget="widget"
		)
	.modal-footer
		button.btn.btn-default(type="button" ng-click="$dismiss()") Close
