.attribute-input.input-group.input-group-sm
	.form-control-static(ng-bind="userDisplayName")
	.input-group-btn
		button.btn.btn-default(ng-click="lookupUser()" type="button")
			i.fa.fa-search
		button.btn.btn-default(ng-click="clearUser()" ng-disabled="!hasValue()" type="button")
			i.fa.fa-close