.attribute-input.input-group.input-group-sm
	.form-control-static(ng-bind="documentDisplayName")
	.input-group-btn
		button.btn.btn-default(ng-click="lookupDocument()" type="button")
			i.fa.fa-search
		button.btn.btn-default(ng-click="clearDocument()" ng-disabled="!hasValue()" type="button")
			i.fa.fa-close