@import "_mixins"

.account-billing-view
	width: 500px
	margin: 30px auto
	position: relative

	+mobile
		width: 100%

	h6
		font-size: 20px
		font-weight: 300
		letter-spacing: 0.1px

	.credit-card
		position: relative
		margin-bottom: 20px

		.btn-link
			color: lighten(grey, 13%)

		.well
			margin-bottom: 10px

		.controls
			position: absolute
			top: 0px
			right: 0px
