@import "_mixins"

.app-widget-table

	.header

		.controls
			position: relative
			top: -3px
			float: right

			> * 
				display: inline-block
				margin-left: 10px

			.sort-options
				position: relative

				i
					font-size: 14px

			.sort-panel
				+border-radius(2px)
				+box-shadow(2px, 2px, 0px, rgba(black, 0.05))
				position: absolute
				top: 25px
				right: 0px
				background-color: white
				border: 1px solid rgba(black, 0.1)
				width: 230px
				z-index: 100
				padding: 15px

				.sort-entry
					.value
						float: left
						width: 67%

					.direction
						float: right
						width: 30%

				.buttons
					margin-top: 5px

	.table-wrapper 
		position: relative

	.table-scroll 
		height: 400px
		overflow: auto  
		margin-top: 30px
		border-top: 2px solid #e7eaec

	.table-wrapper 
		table 
			width: 100%

			thead th
				padding: 0
				border: none

				.row-heading
					position: absolute   
					top: -25px
					z-index: 2
					height: 30px
					padding-left: 7px

			tbody > tr:first-child > td
				border-top: none

			td.controls
				padding: 5px
				min-width: 75px

	.load-more
		width: 150px
		margin: 2px auto
		padding: 4px
		text-align: center
		background-color: rgba(black, 0.02)
		border: 1px solid rgba(black, 0.04)
