@import "_mixins"

.application

	#top-nav
		li > a
			padding: 15px

		.navbar-header
			padding-left: 12px
			font-size: 18px

		.user-avatar
			+border-radius(40px)
			display: inline-block
			margin: 0px 10px 0 10px
			width: 30px
			height: 30px
			border: 1px solid #ddd
			background-color: white
			text-align: center
			overflow: hidden
			position: relative
			top: 10px

			i.fa-user
				padding: 3px 0 0 0
				font-size: 27px
				color: rgba(#4e97d4, 0.3)

	#main-content
		margin-top: 30px

	#footer
		font-size: 11px
