.document-schema
	.page-heading
		.edit.metadata
			margin-top: 15px
			margin-left: -10px		
		
		.controls
			margin-top: 15px

	.attributes
		margin: -3px -10px

		.attribute
			padding: 5px 10px
			cursor: pointer

			&:hover
				background: lighten(black, 96%)

			&.selected
				background: lighten(black, 95%)

				i.fa-angle-right
					display: block

			i.fa
				width: 15px
				text-align: center

			i.fa-angle-right
				display: none
