.edit-view-modal
	.attribute-items
		width: 70%
		margin: 0 auto

		.column-toggle
			width: 24px

	.attribute-filters
		width: 70%
		margin: 0 auto

	.sort-options
		width: 279px
		height: 100px

		.sort-entry
			.value
				float: left
				width: 67%

			.direction
				float: right
				width: 30%
