@import "_mixins"

body
	background-color: #ededed
	
.tab-content
	+border-radius(0 0 4px 4px)
	background-color: white
	border: 1px solid #ddd
	border-top: none
	padding: 20px

i + span,
span + i
	margin-left: 5px

.modal
	background-color: rgba(0,0,0,0.5)

.modal-title
	font-size: 20px
	font-weight: bold
