.application
	.navbar
		ul.nav.navbar-nav
			li.navbar-header
				a.navbar-brand
					span(ng-bind="application.name")
	
	.container
		pre {{application | json}}

		footer
			hr/
			small
				i.fa.fa-gear
				span Powered by&nbsp;
				a(href="http://app-factory.io" target="_blank") App Factory
