.application
	#wrapper
	#page-wrapper.gray-bg
		.row.border-bottom.white-bg
			.navbar.navbar-static-top
				ul.nav.navbar-nav
					li.navbar-header
						a(ng-bind="application.name")
		
		.wrapper.wrapper-content
			.ibox
				.ibox-content
					pre {{application | json}}

		.footer
			i.fa.fa-gear
			span Powered by&nbsp;
			a(href="http://app-factory.io" target="_blank") App Factory
