.canvas-screen
	.root-widgets
	.no-widgets.text-muted.text-center(ng-hide="screenSchema.$rootWidgets.length")
		span This screen has no widgets.
	.add-widget(ng-show="editMode")
		button.btn.btn-xs.btn-success(ng-click="createRootWidget()")
			i.fa.fa-plus
			span Add Widget