.generic-modal
	form(novalidate name="form" ng-submit="submit()")
		.modal-header
			.modal-title Configure Table

		.modal-body
			.row
				.form-group.col-sm-12
					label Data Source
					select.form-control(
						ng-options="type.value as type.name for type in dataSourceTypes | orderBy:type.value"
						name="dataSourceType"
						ng-model="result.data_source.type"
						required
						autofocus
					)

			.alert.alert-warning(ng-show="showValidationErrors && form.$invalid")
				div(ng-show="form.dataSourceType.$error.required") Data Source is required.
		.modal-footer
			button.btn.btn-default(type="button" ng-click="$dismiss()") Cancel
			button.btn.btn-primary(type="submit") 
				span Save
				i.fa.fa-chevron-right