.factory-layout
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-12(ng-switch="editMode")
			.pull-left
				h2 Layout
				p Configure layout options and navigation of the application.
			.controls.pull-right(ng-switch-when="false")
				button.btn.btn-xs.btn-primary(ng-click="startEditLayout()")
					i.fa.fa-pencil
					span Edit
			.controls.pull-right(ng-switch-when="true")
				button.btn.btn-xs.btn-primary(ng-click="saveLayout()")
					i.fa.fa-save
					span Save
				button.btn.btn-xs.btn-default(ng-click="cancelEditLayout()")
					i.fa.fa-close
					span Cancel
	br/
	.row.wrapper
		.col-lg-6
			.ibox
				.ibox-title
					h5 Navigation
				.ibox-content
					.navigation-items#sort-bounds(as-sortable="sortableOptions" ng-model="layout.navigation_items")
						.navigation-item(ng-repeat="navigationItem in layout.navigation_items" as-sortable-item)
							.summary
								i.fa.fa-dot-circle-o
								span(ng-bind="navigationItem.name")
							.type(ng-bind="getNavigationItemDescription(navigationItem)")
							.controls(ng-show="editMode")
								button.btn.btn-xs.btn-default.sorting-handle(as-sortable-item-handle)
									i.fa.fa-arrows
								button.btn.btn-xs.btn-default(ng-click="deleteNavigationItem(navigationItem)")
									i.fa.fa-trash
								button.btn.btn-xs.btn-primary(ng-click="editNavigationitem(navigationItem)")
									i.fa.fa-pencil
					.text-muted(ng-hide="layout.navigation_items.length || editMode") No navigation items.
					button.btn.btn-xs.btn-success.add-navigation-item(ng-click="addNavigationItem()" ng-show="editMode")
						i.fa.fa-plus
						span Add Navigation Item

		.col-lg-6
			.ibox
				.ibox-title
					h5 Options
				.ibox-content
					.navigation-options
						.navigation-option(ng-switch="editMode")
							label Home Screen
							select.form-control(
								ng-switch-when="true"
								ng-model="layout.home_screen_schema_id"
								ng-options="screen._id as screen.name for screen in screens"
							)
							div.form-control-static.text-muted(ng-switch-when="false")
								span(ng-bind="getHomeScreenName()")

