.form-group
	label.control-label.col-lg-4(ng-bind="::attribute.name")
	.col-lg-8
		.input-group
			.input-group-addon
				i.fa.fa-font
			input.form-control(
				type="text" 
				ng-model="document.data[attribute['id']]"
			)