.canvas-widget.canvas-widget-button
	.widget-summary
		h4 
			i.fa(ng-class="icon")
			span {{widget.name}}
	.widget-controls
		button.btn.btn-xs.btn-default(ng-click="deleteWidget()" ng-show="editMode")
			i.fa.fa-trash