.filter-panel(ng-show="isOpen")
	.filters(ng-if="value")
		af-attribute-filters(filter="value" attributes="attributes")
	.buttons
		button.btn.btn-xs.btn-primary(ng-click="update()")
			span Update
		button.btn.btn-xs.btn-default(ng-click="close()")
			span Cancel

.filter-panel-backdrop(ng-show="isOpen" ng-click="close()")
